body
{
	background: url("images/onedollar.jpg") top center;
}

.container
{
    padding: 0px;
    width:850px;
    margin-left:auto;
    margin-right:auto;
    background-color:#53d79e
}

.heder
{
    height: 10%;
    background-color:black;
    color:white;
    padding:15px;
}

.logoObraek
{
    float: left;
    width: 25%;
    border-right: 1px solid white;
}

.logoNapis
{
    float: left;
    width: 74%;
    text-align: center;
    /*border-right: 1px solid white;*/
}

.obrazek
{
    width:40%;
    height:40%;
    border-radius: 90px 90px 90px 90px;
}


.brunei
{
    width:30%;
    height:30%;
    padding:20px;
}
.menu
{
     float:left;
     background-color:gray;
     width:180px;
     min-height:660px;
     max-height: 2000px;
     padding:20px;
}

ul{
    list-style-type: none;
}

.content
{
     float:left;
     padding:20px;
     width:570px;
     min-height:620px;
}

.viewTable
{
    clear:both;
    padding:40px;
    min-height: 300px;
    /*background-color:#D9D7D7*/
}
.footer
{
    clear:both;
     background-color:black;
     color:white;
     text-align:center;
     padding:5px;
}

.submenu a
{
    color:white;
    text-decoration:none;
}
.submenu a:hover
{
    color:blue;

}

.flag
{
    width:40%;
    height:40%;
}