.input
{
    text-align:right;
}

#tabela
{
    border: 1px solid #000000;
    font-size: 12px;
    background-color:lightblue;
}
#wiersz
{
    border:1px solid #000000;
}

.obramowanie
{
    border-collapse: collapse
}

.note
{
    width:80%;
    height:80%;
    padding:3px;
}

