<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddOrder</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{css/styleNote.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{css/showNote.css}" type="text/css" />

</head>
<body>
<div>
    <div class="heder">
        <div class="logoObraek">
            <span>
            <img class="obrazek" th:src="#{logo}"/>
            </span>
        </div>
        <div class="logoNapis">
            <p></p><h1 th:text="#{heder}"></h1></p>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="content">
        <h1 style="color: black; padding: 20px; text-align: center">Zamówienie</h1>


        <div>

        <table class="tabela"  border="1" cellpadding="3" cellspacing="0" align="center">
            <tr>
                <td>Id zamówienia</td>
                <td>Data</td>
                <td>Id klienta</td>
                <td>Imię</td>
                <td>Nazwisko</td>

            </tr>
            <tr>
                <td th:text="${order.id}"></td>
                <td th:text="${order.added}"></td>
                <td th:text="${order.customerModel.id}"></td>
                <td th:text="${order.customerModel.name}"></td>
                <td th:text="${order.customerModel.lastname}"></td>

            </tr>
        </table>
        </div>
        <div>
            <h3>Dodaj banknot</h3>
            <form th:action="@{/addorder}" method="post">
                <p>Poadj Id banknotu <input type="text" th:name="noteId"></p>
                <p><input type="submit" value="Dojaj banknot"></p>
            </form>
        </div>

        <div>
            <table class="tabela"  border="1" cellpadding="3" cellspacing="0" align="center">
                <tr>
                    <td>Id banknotu</td>
                    <td>Kraj</td>
                    <td>KOD</td>
                    <td>Waluta</td>
                    <td>Nominał</td>
                    <td>Cena</td>
                </tr>
                <tr th:each="note : ${noteList}">
                    <td th:text="${note.noteModel.id}"></td>
                    <td th:text="${note.noteModel.country}"></td>
                    <td th:text="${note.noteModel.cod}"></td>
                    <td th:text="${note.noteModel.currency}"></td>
                    <td th:text="${note.noteModel.denomination}"></td>
                    <td th:text="${note.noteModel.priceSell}+'zł'"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Suma</td>
                    <td th:text="${suma}+'zł'"></td>
                </tr>
            </table>

        </div>
    </div>

    <div class="footer">
        <h1 th:text="#{footer}"></h1>

    </div>



</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>