<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Customer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{css/styleNote.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{css/showNote.css}" type="text/css" />
</head>
<body>
<div>
    <div class="heder">
        <div class="logoObraek">
            <span>
            <img class="obrazek" th:src="#{logo}"/>
            </span>
        </div>
        <div class="logoNapis">
            <p></p><h1 th:text="#{heder}"></h1></p>
        </div>
        <div style="clear:both"></div>
    </div>
            <h1 style="padding: 20px; text-align: center">Klienci</h1>

            <div id="viewTable" style="min-height: 620px">
                <table class="tabela"  border="1" cellpadding="3" cellspacing="0" align="center">
                    <tr id="wiersz">
                        <th>Id</th>
                        <th>Numer Klienta</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>Kod pocztowy</th>
                        <th>Miejscowość</th>
                        <th>Ulica</th>
                        <th>Numer mieszkoania/lokalu</th>
                        <th>Nick</th>
                        <th>Telefon</th>
                        <th>E-mail</th>
                        <th>Notatki</th>
                    </tr>
                    <th:block th:each="customer : ${customerList}">
                        <tr>
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.numberCustomer}"></td>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.lastname}"></td>
                            <td th:text="${customer.zipCode}"></td>
                            <td th:text="${customer.city}"></td>
                            <td th:text="${customer.street}"></td>
                            <td th:text="${customer.numberStreet}"></td>
                            <td th:text="${customer.nick}"></td>
                            <td th:text="${customer.phone}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.comments}"></td>
                        </tr>
                    </th:block>
                </table>
            </div>
    </CENTER>

    <div class="footer">
        <h1>STOPKA</h1>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>